<head>
<title>Jeffrey Lin's UnShopify Page</title>
</head>

<body>
<h2>Shopify is awesome</h2>
<img src="https://cdn.shopify.com/s/files/1/1732/9673/files/DSC00345.jpg?4460711760691612891">

<p>The Huxford Hiking Bag is made from new age composite material inside and out. This incredibly durable, weather resistant gear bag protects your(or your dog's) belongings when the trails start winding and the hills get surly.  Two large capacity pockets hold the lion's share of stuff. Reflective light strips keeps your dog visible even when the sun goes down. Two zippered front pockets holds quick-access products such as keys and sanitary bags.  The entire bag is finished off with a DWR(durable water repellent) finish to keep everything inside, nice and dry.</p>
</body>

<p> If you need to go back, click  <%= link_to "home", root_path %> to go back</p>
